* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.day {
  display: auto;
  width: 100%;
  height: 30px;
  background-color: olive;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.time {
  display: auto;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: medium;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-width: thick;
}

label {
  display: auto;
  height: 100%;
  width: 100%;
  background-color: orange;
}

textarea {
  padding: 20px;
  border-color: orange;
  background-color: white;
}
